<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <display-name>PAD ANPR</display-name>

    <description>PAD ANPR</description>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>padanpr</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>padanpr</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
