<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{translation.KEY_SCREEN_ACCOUNTS_LABEL}}</li>
    </ol>
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <h3 style="margin-left: 40px;">{{translation.KEY_SCREEN_ACCOUNTS_LABEL}}</h3>
        </div>
        <div class="col-md-9 text-right">
            <button type="button" class="btn btn-primary btn-md" name="filterButton" id="accountsFilterButton" data-toggle="collapse" data-target="#accountSearchCollapse"
                aria-expanded="false" aria-controls="accountSearchCollapse" aria-pressed="false" ng-class="{ 'tcFilterIsActive': isFilterActive}" ng-disabled="disableControls">
                <span class="glyphicon glyphicon-filter"></span> {{translation.KEY_SCREEN_FILTER_LABEL}} <span ng-show="isFilterActive">*</span>
            </button>

            <button ng-click="refreshTableData();" class="btn btn-primary btn-md" style="margin-right: 40px;" ng-disabled="disableControls">
                <span class="glyphicon glyphicon-refresh"></span> {{translation.KEY_SCREEN_REFRESH_LABEL}}
            </button>
        </div>
    </div>

    <!-- Content -->
    <div class="Page-content">

        <!-- Filters -->
        <div class="collapse" id="accountSearchCollapse">
            <div class="div-filter">
                <form style="margin-bottom: 20px;" class="form-inline" name="accountFiltersForm">

                    <div class="form-group font-size-12">
                        <label for="accountNumber">{{translation.KEY_SCREEN_ACCOUNT_NUMBER_LABEL}} </label> <input type="text" style="width: 100px;"
                            class="form-control margin-rigth input-sm filter-input" ng-model="filterAccountNumber" aria-describedby="accountNumber" ng-minlength="6" minlength="6"
                            ng-maxlength="6" maxlength="6" number/>
                    </div>

                    <div class="form-group font-size-12">
                        <label for="companyName">{{translation.KEY_SCREEN_TRANSPORTER_COMPANY_NAME_LABEL}} </label> <input type="text" style="width: 100px;"
                            class="form-control margin-rigth input-sm filter-input" ng-model="filterCompanyName" aria-describedby="companyName" />
                    </div>
                    <div class="form-group font-size-12">
                        <label for="mobileNumber">{{translation.KEY_SCREEN_MOBILE_NUMBER_LABEL}} </label> <input type="text" style="width: 100px;"
                            class="form-control margin-rigth input-sm filter-input" ng-model="filterIndividualMobileNumber" aria-describedby="mobileNumber" />
                    </div>
                    <div class="form-group font-size-12">
                        <label for="filterStatus">{{translation.KEY_SCREEN_STATUS_LABEL}} </label> <select style="width: 100px;"
                            class="form-control margin-rigth input-sm filter-input" id="filterStatus" name="filterStatus" ng-model="filterStatus">
                            <option value="">{{translation.KEY_SCREEN_ALL_LABEL | uppercase}}</option>
                            <option ng-repeat="status in statusAccountOptions | orderBy: 'name'"
                                value="{{status.value}}">{{status.name | uppercase}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group font-size-12">
                        <div class="text-center" style="padding-bottom: 10px;">
                            <button ng-click="searchAccount()" class="btn btn-success" style="width: 100%;" ng-disabled="searchAccountSubmitButtonDisabled">
                                <span class="glyphicon glyphicon-search"></span> {{translation.KEY_SCREEN_SEARCH_LABEL}}
                            </button>
                        </div>
                    </div>

                    <div class="form-group font-size-12">
                        <div class="text-center" style="padding-bottom: 10px;">
                            <button ng-click="clearSearchAccount()" class="btn btn-primary" style="width: 100%;">
                                <span class="glyphicon glyphicon-erase"></span> {{translation.KEY_SCREEN_CLEAR_SEARCH_LABEL}}
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="table-responsive">
            <table class="pad-table">
                <thead>
                    <tr>
                        <td>&nbsp;</td>

                        <td><a href="" ng-click="sort('number');"> {{translation.KEY_SCREEN_ACCOUNT_NUMBER_LABEL}} <span
                                ng-show="sortColumn == 'number' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'number' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('first_name');"> {{translation.KEY_SCREEN_ACCOUNT_NAME_LABEL}} <span ng-show="sortColumn == 'first_name' && sortAsc"
                                class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span ng-show="sortColumn == 'first_name' && !sortAsc"
                                class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('type');"> {{translation.KEY_SCREEN_ACCOUNT_TYPE_LABEL}} <span ng-show="sortColumn == 'type' && sortAsc"
                                class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span ng-show="sortColumn == 'type' && !sortAsc"
                                class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('msisdn');"> {{translation.KEY_SCREEN_MOBILE_NUMBER_LABEL}} <span ng-show="sortColumn == 'msisdn' && sortAsc"
                                class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span ng-show="sortColumn == 'msisdn' && !sortAsc"
                                class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('company_name');"> {{translation.KEY_SCREEN_TRANSPORTER_COMPANY_NAME_LABEL}} <span
                                ng-show="sortColumn == 'company_name' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'company_name' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('company_registration');"> {{translation.KEY_SCREEN_REGISTRATION_NUMBER_LABEL}} <span
                                ng-show="sortColumn == 'company_registration' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'company_registration' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('company_telephone');"> {{translation.KEY_SCREEN_TELEPHONE_NUMBER_LABEL}} <span
                                ng-show="sortColumn == 'company_telephone' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'company_telephone' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('special_tax_status');"> {{translation.KEY_SCREEN_SPECIAL_TAX_STATUS_LABEL}} <span
                                ng-show="sortColumn == 'special_tax_status' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'special_tax_status' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('status');"> {{translation.KEY_SCREEN_STATUS_LABEL}} <span ng-show="sortColumn == 'status' && sortAsc"
                                class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span ng-show="sortColumn == 'status' && !sortAsc"
                                class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('payment_terms_type');"> {{translation.KEY_SCREEN_PAYMENT_TERMS_TYPE_LABEL}} <span
                                ng-show="sortColumn == 'payment_terms_type' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'payment_terms_type' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('amount_overdraft_limit');"> {{translation.KEY_SCREEN_OVERDRAFT_LIMIT_LABEL}} <span
                                ng-show="sortColumn == 'amount_overdraft_limit' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'amount_overdraft_limit' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('date_created');"> {{translation.KEY_SCREEN_DATE_CREATED_LABEL}} <span
                                ng-show="sortColumn == 'date_created' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'date_created' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>
                    </tr>
                </thead>

                <tbody ng-repeat="row in rows = (padTable.data)">

                    <tr ng-click="padTable.selectRow($event)">
                        <td class="text-center">
                            <button class="show-detail-button" ng-click="row.expanded = !row.expanded; $event.stopPropagation();" ng-init="row.expanded = false">
                                <span class="glyphicon glyphicon-plus-sign font-size-14 top-4px show-detail-btn" ng-show="!row.expanded" title="Show Details"></span> <span
                                    class="glyphicon glyphicon-minus-sign font-size-14 top-4px show-detail-btn" ng-show="row.expanded" title="Hide Details"></span>
                            </button>
                        </td>
                        <td title="Account Name">{{row.number}}</td>
                        <td title="Account Name">{{row.firstName}} {{row.lastName}}</td>
                        <td title="Account Type" class="text-center"><span class="label label-info" ng-if="row.type == accountTypeConstants.ACCOUNT_TYPE_COMPANY">{{translation.KEY_SCREEN_COMPANY_LABEL}}</span>
                            <span class="label label-info" ng-if="row.type == accountTypeConstants.ACCOUNT_TYPE_INDIVIDUAL">{{translation.KEY_SCREEN_INDIVIDUAL_LABEL}}</span></td>
                        <td title="Mobile Number">{{row.msisdn}}</td>
                        <td title="Company Name">{{row.companyName}}</td>
                        <td title="Company Registration">{{row.companyRegistration}}</td>
                        <td title="Company Telephone">{{row.companyTelephone}}</td>
                        <td title="Special Tax Status" class="text-center"><span class="label label-success" ng-if="row.specialTaxStatus == true">{{translation.KEY_SCREEN_YES_LABEL}}</span>
                            <span class="label label-warning" ng-if="row.specialTaxStatus == false">{{translation.KEY_SCREEN_NO_LABEL}}</span></td>
                        <td title="Status" class="text-center"><span class="label label-warning"
                            ng-if="row.status == accountStatusConstants.ACCOUNT_STATUS_PENDING_FOR_ACTIVATION">{{translation.KEY_SCREEN_ACCOUNT_PENDING_ACTIVATION_LABEL}}</span> <span
                            class="label label-success" ng-if="row.status == accountStatusConstants.ACCOUNT_STATUS_ACTIVE">{{translation.KEY_SCREEN_ACTIVE_LABEL}}</span>
                            <div ng-if="row.status == accountStatusConstants.ACCOUNT_STATUS_DENIED" title="{{row.denialReason}}"
                                style="white-space: nowrap; display: flex; justify-content: center;">
                                <span class="label label-danger">{{translation.KEY_SCREEN_DENIED_LABEL}}</span><span style="margin-left: 3px;"
                                    class="glyphicon glyphicon-warning-sign red"></span>
                            </div></td>
                        <td title="Payment Terms Type" class="text-center"><span class="label label-info" ng-if="row.paymentTermsType == 1">{{translation.KEY_SCREEN_PAYMENT_TERMS_TYPE_PREPAY_LABEL
                                | uppercase}}</span> <span class="label label-default" ng-if="row.paymentTermsType == 2">{{translation.KEY_SCREEN_PAYMENT_TERMS_TYPE_POSTPAY_LABEL |
                                uppercase}}</span></td>
                        <td title="Overdraft Limit">{{row.amountOverdraftLimit | customCurrency : 0}} {{getSymbolByCurrencyCode(row.currency)}}</td>
                        <td title="Date Created">{{row.dateCreatedString}}</td>
                    </tr>

                    <tr class="bg-light-gray pad-row-for-nested-table" ng-if="row.expanded">
                        <td colspan="13" class="pad-table-extension-cell">
                            <div class="div-detail-thead">

                                <table class="pad-nested-table">
                                    <colgroup>
                                        <col width="10%">
                                        <col width="90%">
                                    </colgroup>
                                    <thead class="bg-light-gray">
                                        <tr>
                                            <th class="text-align-left" ng-if="row.type == accountTypeConstants.ACCOUNT_TYPE_COMPANY">{{translation.KEY_SCREEN_COMPANY_ADDRESS_LABEL}}</th>
                                            <th class="text-align-left" ng-if="row.type == accountTypeConstants.ACCOUNT_TYPE_INDIVIDUAL">{{translation.KEY_SCREEN_ADDRESS_LABEL}}</th>
                                            <td class="text-align-left"><span ng-bind-html="previewCompanyAddress(row) | to_trusted_html"></span></td>
                                        </tr>
                                        <tr ng-if="row.type == accountTypeConstants.ACCOUNT_TYPE_INDIVIDUAL">
                                            <th class="text-align-left">{{translation.KEY_SCREEN_COUNTRY_LABEL}} ({{translation.KEY_SCREEN_NATIONALITY_LABEL}})</th>
                                            <td class="text-align-left"><span>{{getCountryNameByISOCode(row.nationalityCountryISO)}}</span></td>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </td>
                    </tr>

                </tbody>

                <tr ng-show="padTable.count == 0">
                    <td colspan="13" class="pad-table-extension-cell text-center">{{translation.KEY_SCREEN_NO_ACCOUNT_RETURNED_MESSAGE}}</td>
                </tr>

                <!-- PAD Table Pagination -->
                <tr>
                    <td colspan="13" class="pad-table-extension-cell text-left"><pad-table-pagination></pad-table-pagination></td>
                </tr>
            </table>
        </div>

    </div>

</div>
