<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="" ng-click="go('/')">{{translation.KEY_NAVBAR_HOME}}</a></li>
        <li class="breadcrumb-item active">{{translation.KEY_SCREEN_PAYMENTS_LABEL}}</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3 style="margin-left: 40px;">{{translation.KEY_SCREEN_PAYMENTS_LABEL}}</h3>
        </div>
        <div class="col-md-9 text-right">
            <button ng-click="refreshTableData();" class="btn btn-primary btn-md" style="margin-right: 40px;" ng-disabled="disableControls">
                <span class="glyphicon glyphicon-refresh"></span> {{translation.KEY_SCREEN_REFRESH_LABEL}}
            </button>
        </div>
    </div>

    <!-- Content -->
    <div class="Page-content">

        <div class="table-responsive">
            <table class="pad-table">
                <thead>
                    <tr>
                        <td><a href="" ng-click="sort('type_payment');"> {{translation.KEY_SCREEN_PAYMENT_TYPE_LABEL}} <span
                                ng-show="sortColumn == 'type_payment' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'type_payment' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('first_name, last_name');"> {{translation.KEY_SCREEN_PAYER_NAME_LABEL}} <span
                                ng-show="sortColumn == 'first_name, last_name' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'first_name, last_name' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('msisdn');"> {{translation.KEY_SCREEN_MOBILE_NUMBER_LABEL}} <span
                                ng-show="sortColumn == 'msisdn' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'msisdn' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('total_amount');">{{translation.KEY_SCREEN_AMOUNT_LABEL}}<span
                                ng-show="sortColumn == 'total_amount' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'total_amount' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('date_created');"> {{translation.KEY_SCREEN_DATE_PAYMENT_LABEL}} <span
                                ng-show="sortColumn == 'date_created' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'date_created' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td><a href="" ng-click="sort('number');">{{translation.KEY_SCREEN_RECEIPT_NUMBER_LABEL}}<span
                                ng-show="sortColumn == 'number' && sortAsc" class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                                ng-show="sortColumn == 'number' && !sortAsc" class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                        </a></td>

                        <td></td>
                    </tr>
                </thead>

                <colgroup>
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="4%">
                </colgroup>

                <tbody ng-repeat="row in rows = padTable.data">
                    <tr ng-click="padTable.selectRow($event)">
                        <td title="Payment Option">{{row.paymentOptionString}}</td>
                        <td title="Payer Name">{{row.payerName}}</td>
                        <td title="Mobile Number">{{row.msisdn}}</td>
                        <td title="Total" class="text-right">{{row.totalAmount | customCurrency : 0}} {{getSymbolByCurrencyCode(row.currency)}}</td>
                        <td title="Date Created">{{row.dateCreatedString}}</td>
                        <td title="Number">{{row.number}}</td>
                        <td title="Download" class="text-center">
                            <form target="_blank" method="post" action="receipt/download/transporter" class="form-inline" ng-submit="downloadReceipt(row)">
                                <button type="submit" class="btn btn-info btn-sm" ng-disabled="row.downloaded" title="{{translation.KEY_SCREEN_DOWNLOAD_LABEL}}">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>
                                <input type="hidden" name="number" ng-value="row.number" />
                            </form>
                        </td>
                    </tr>
                </tbody>

                <tr ng-show="padTable.count == 0">
                    <td colspan="7" class="pad-table-extension-cell text-center">{{translation.KEY_SCREEN_NO_DATA_RETURNED_MESSAGE}}</td>
                </tr>

                <!-- PAD Table Pagination -->
                <tr>
                    <td colspan="7" class="pad-table-extension-cell text-left"><pad-table-pagination></pad-table-pagination></td>
                </tr>
            </table>
        </div>
    </div>
</div>
