<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="" ng-click="go('/')">{{translation.KEY_NAVBAR_HOME}}</a></li>
        <li class="breadcrumb-item active">{{translation.KEY_NAVBAR_CHANGE_PASSWORD}}</li>
    </ol>
</nav>

<div class="container-fluid pad-center">
    <div ng-hide="passwdChangeSuccess">
        <form name="changePasswordForm" autocomplete="off" novalidate>
            <div class="form-group">
                <div class="alert alert-info">
                    <b>{{translation.KEY_SCREEN_PASSWORD_POLICY_LABEL}}:</b><br> {{translation.KEY_SCREEN_PASSWORD_POLICY}}
                </div>
            </div>
            <div class="form-group">
                <label for="currentPassword">{{translation.KEY_SCREEN_CURRENT_PASSWORD_LABEL}}</label>
                <input type="password" class="form-control" name="currentPassword" placeholder="Current Password" title="Current Password"
                    ng-model="formData.currentPassword" ng-maxlength="32" maxlength="32" ng-trim="true" ng-change="currentPasswordError = false" autocomplete="off" oncopy="return false" onpaste="return false" required>
            </div>
            <div class="form-group">
                <label for="password">{{translation.KEY_SCREEN_PASSWORD_LABEL}}</label>
                <input type="password" class="form-control" name="password" placeholder="{{translation.KEY_SCREEN_PASSWORD_LABEL}}" ng-model="formData.password" ng-pattern="passwordRegexp"
                        ng-maxlength="32" maxlength="32" autocomplete="off" oncopy="return false" onpaste="return false" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">{{translation.KEY_SCREEN_CONFIRM_PASSWORD_LABEL}}</label>
                <input type="password" class="form-control" name="confirmPassword" placeholder="{{translation.KEY_SCREEN_CONFIRM_PASSWORD_LABEL}}" ng-model="formData.confirmPassword" ng-maxlength="32" maxlength="32" autocomplete="off" oncopy="return false" onpaste="return false">
            </div>

            <div ng-if="passwordChangeErrorResponse !== ''">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span class="sr-only">{{translation.KEY_SCREEN_ERROR_LABEL}}: </span> {{passwordChangeErrorResponse}}
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-block" ng-disabled="passwordChangeSubmitButtonDisabled || passwdChangeSuccess"
                    ng-click="save()"><span class="glyphicon glyphicon-ok"></span> {{translation.KEY_NAVBAR_CHANGE_PASSWORD}}</button>

            <br>
            <button type="button" class="btn btn-danger btn-block" ng-disabled="passwdChangeSuccess"
                    ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span> {{translation.KEY_BUTTON_BACK}}</button>
        </form>
    </div>

    <div ng-if="passwdChangeSuccess">
        <div class="alert alert-success">
            <h4>{{translation.KEY_SCREEN_PASSWORD_UPDATED_MESSAGE}}!</h4>
        </div>
    </div>
</div>

