<div ng-controller="AccountsPaymentsTabController">
    <!-- Filters -->
    <div class="div-filter">
        <form style="margin-bottom: 20px;" class="form-inline" name="accountFiltersForm">

            <div class="form-group font-size-12">
                <label for="filterDateFromString">{{translation.KEY_SCREEN_DATE_FROM_LABEL}}</label>
                <div class="filter_date_from date input-group">
                    <input type="text" class="pad-datepicker-input form-control input-sm filter-input"
                           id="filterDateFromString"
                           name="filterDateFromString" ng-model="filterDateFromString" readonly>
                    <span class="input-group-addon pad-datepicker-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>

            <div class="form-group font-size-12">
                <label for="filterDateToString">{{translation.KEY_SCREEN_DATE_TO_LABEL}}</label>
                <div class="filter_date_to date input-group margin-rigth">
                    <input type="text" class="pad-datepicker-input form-control input-sm filter-input"
                           id="filterDateToString"
                           name="filterDateToString" ng-model="filterDateToString" readonly>
                    <span class="input-group-addon pad-datepicker-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>

            <div class="form-group font-size-12">
                <label for="filterType">{{translation.KEY_SCREEN_TYPE_LABEL}} </label>
                <select style="width: 160px !important;"
                        class="form-control margin-rigth input-sm filter-input" id="filterType" name="filterType"

                        ng-model="filterType">
                    <option value="">{{translation.KEY_SCREEN_ALL_LABEL | uppercase}}</option>
                    <option ng-repeat="type in typeAccountOptions | orderBy: 'name'"
                            value="{{type.value}}">{{type.name | uppercase}}
                    </option>
                </select>
            </div>

            <div class="form-group font-size-12">
                <label for="filterType">{{translation.KEY_SCREEN_PAYMENT_OPTION_LABEL}} </label>
                <select style="width: 160px !important;"
                        class="form-control margin-rigth input-sm filter-input" id="filterPaymentOption" name="filterPaymentOption"

                        ng-model="filterPaymentOption">
                    <option value="">{{translation.KEY_SCREEN_ALL_LABEL | uppercase}}</option>
                    <option ng-repeat="paymentOption in paymentOptions | orderBy: 'name'"
                            value="{{paymentOption.value}}">{{paymentOption.name | uppercase}}
                    </option>
                </select>
            </div>

            <div class="form-group font-size-12">
                <div class="text-center" style="padding-bottom: 10px;">
                    <button ng-click="searchTypes()" class="btn btn-success" style="width: 100%;">
                        <span class="glyphicon glyphicon-search"></span> {{translation.KEY_SCREEN_SEARCH_LABEL}}
                    </button>
                </div>
            </div>

            <div class="form-group font-size-12">
                <div class="text-center" style="padding-bottom: 10px;">
                    <button ng-click="clearSearchTypes()" class="btn btn-primary" style="width: 100%;">
                        <span class="glyphicon glyphicon-erase"></span> {{translation.KEY_SCREEN_CLEAR_SEARCH_LABEL}}
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="margin-btn">
        <button class="btn btn-primary btn-sm p-1" ng-click="showAccountTopupDialog()" title="">
            {{translation.KEY_SCREEN_PAYMENTS_LABEL}}
        </button>
    </div>

    <div class="table-responsive">
        <table class="pad-table">
            <thead>
            <tr>
                <td><a href="" ng-click="sort('date_created');"> {{translation.KEY_SCREEN_DATE_PAYMENT_LABEL}} <span
                        ng-show="sortColumn == 'date_created' && sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'date_created' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('operator');"> {{translation.KEY_SCREEN_OPERATOR_LABEL}} <span
                        ng-show="sortColumn == 'operator' && sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'operator' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('channel');">
                    {{translation.KEY_SCREEN_CHANNEL_LABEL}} <span
                        ng-show="sortColumn == 'channel' && sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'channel' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('type');"> {{translation.KEY_SCREEN_TYPE_LABEL}}
                    <span
                            ng-show="sortColumn == 'type' && sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                            ng-show="sortColumn == 'type' && !sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('payment_option');"> {{translation.KEY_SCREEN_PAYMENT_OPTION_LABEL}}
                    <span
                            ng-show="sortColumn == 'payment_option' && sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                            ng-show="sortColumn == 'payment_option' && !sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('first_name');"> {{translation.KEY_SCREEN_FIRST_NAME_LABEL}} <span
                        ng-show="sortColumn == 'first_name' && sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'first_name' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('last_name');">
                    {{translation.KEY_SCREEN_LAST_NAME_LABEL}} <span
                        ng-show="sortColumn == 'last_name' && sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'last_name' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('msisdn');">
                    {{translation.KEY_SCREEN_MOBILE_LABEL}} <span
                        ng-show="sortColumn == 'msisdn' && sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'msisdn' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('amount_due');">
                    {{translation.KEY_SCREEN_AMOUNT_LABEL}}
                    <span
                            ng-show="sortColumn == 'amount_due' && sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'amount_due' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('fee_aggregator');">
                    {{translation.KEY_SCREEN_FEE_LABEL}}
                    <span
                            ng-show="sortColumn == 'fee_aggregator' && sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'fee_aggregator' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('reference_aggregator');">
                    {{translation.KEY_SCREEN_REFERENCE_LABEL}}
                    <span
                            ng-show="sortColumn == 'reference_aggregator' && sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'reference_aggregator' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('status_aggregator');">
                    {{translation.KEY_SCREEN_STATUS_LABEL}}
                    <span
                            ng-show="sortColumn == 'status_aggregator' && sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'status_aggregator' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('notes');">
                    {{translation.KEY_SCREEN_NOTES_LABEL}}
                    <span
                            ng-show="sortColumn == 'notes' && sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'notes' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

                <td><a href="" ng-click="sort('date_response');">
                    {{translation.KEY_SCREEN_DATE_RESPONSE_LABEL}}
                    <span
                            ng-show="sortColumn == 'date_response' && sortAsc"
                            class="glyphicon glyphicon-sort-by-attributes font-size-10"></span> <span
                        ng-show="sortColumn == 'date_response' && !sortAsc"
                        class="glyphicon glyphicon-sort-by-attributes-alt font-size-10"></span>
                </a></td>

            </tr>
            </thead>

            <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
            </colgroup>

            <tbody ng-repeat="row in rows = (padTable.data)">

                <tr>

                    <td title="Date Payment" class="text-center">
                        {{row.datePaymentString}}
                    </td>

                    <td title="Operator" class="text-center">
                        {{row.operatorName}}
                    </td>

                    <td title="Channel" class="text-center">
                        {{getChannelText(row.laneSessionId, row.roleId)}}
                    </td>

                    <td title="type" class="text-center">
                        {{getPaymentTypeText(row.type)}}
                    </td>

                    <td title="Payment Option" class="text-center">
                        {{getPaymentOption(row.paymentOption)}}
                    </td>

                    <td title="First Name" class="text-center">
                        {{row.firstName}}
                        </span></td>

                    <td title="Last Name" class="text-center">
                        {{row.lastName}}
                        </span></td>

                    <td title="Mobile">
                        {{row.msisdn}}
                    </td>

                    <td title="Amount">
                        {{row.amount | customCurrency: 0}} {{getSymbolByCurrencyCode(account.currency)}}
                    </td>

                    <td title="Fee">
                        <span ng-if="row.feeAggregator">{{row.feeAggregator | customCurrency: 0}} {{getSymbolByCurrencyCode(account.currency)}}</span>
                    </td>

                    <td title="Reference">
                        {{row.referenceAggregator}}
                    </td>

                    <td title="Status">
                        {{row.statusAggregator}}
                    </td>

                    <td title="Notes">
                        <span>{{row.notes}}</span>
                        <span ng-if="!row.notes">{{row.errorAggregator}}</span>
                    </td>

                    <td title="Status" class="text-center">
                        {{row.dateResponseString}}
                    </td>

                </tr>

            </tbody>

            <tr ng-show="padTable.count == 0">
                <td colspan="14" class="pad-table-extension-cell text-center">
                    {{translation.KEY_SCREEN_NO_DATA_RETURNED_MESSAGE}}
                </td>
            </tr>

            <!-- PAD Table Pagination -->
            <tr>
                <td colspan="14" class="pad-table-extension-cell text-left">
                    <pad-table-pagination></pad-table-pagination>
                </td>
            </tr>
        </table>
    </div>

    <!-- > Modal Payment Confirmation -->
    <div class="modal fade" id="topupModal" tabindex="-1" role="dialog" aria-labelledby="topupModalLabel" ng-form="topupForm">
        <fieldset>
            <div class="modal-dialog modal-dialog-record" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeAccountTopupDialog()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="topupModalLabel">{{translation.KEY_SCREEN_PAYMENTS_LABEL}}</h4>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading font-size-18">
                                        <b>{{translation.KEY_NAVBAR_PAYMENT}}</b>
                                    </div>
                                    <div class="panel-body">
                                        <form name="topupForm" autocomplete="off" novalidate>
                                            <div class="col-md-12 form-group" style="padding: 0px;">

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>{{translation.KEY_SCREEN_ACCOUNT_NAME_LABEL}}</label>
                                                    </div>
                                                    <div class="col-md-8">{{selectedRow.firstName}} {{selectedRow.lastName}}</div>
                                                </div>

                                                <div class="row" ng-show="selectedRow.companyName != ''">
                                                    <div class="col-md-4">
                                                        <label>{{translation.KEY_SCREEN_TRANSPORTER_COMPANY_NAME_LABEL}}</label>
                                                    </div>
                                                    <div class="col-md-8">{{selectedRow.companyName}}</div>
                                                </div>

                                                <div class="row" ng-show="selectedRow.msisdn != ''">
                                                    <div class="col-md-4">
                                                        <label>{{translation.KEY_SCREEN_MOBILE_NUMBER_LABEL}}</label>
                                                    </div>
                                                    <div class="col-md-8">{{selectedRow.msisdn}}</div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>{{translation.KEY_SCREEN_ACCOUNT_BALANCE_LABEL}}</label>
                                                    </div>
                                                    <div class="col-md-8" ng-show="!isPaymentSuccessful">{{selectedRow.balanceAmount | customCurrency : 0}}
                                                        {{getSymbolByCurrencyCode(selectedRow.currency)}}</div>
                                                    <div class="col-md-8" ng-show="isPaymentSuccessful">{{newBalanceAmount | customCurrency : 0}}
                                                        {{getSymbolByCurrencyCode(selectedRow.currency)}}</div>
                                                </div>

                                                <div class="row" ng-show="onlinePaymentRequestSubmitted">
                                                    <div class="col-md-4">
                                                        <label>{{translation.KEY_SCREEN_PAYMENT_OPTION_LABEL}}</label>
                                                    </div>
                                                    <div class="col-md-8">{{getPaymentOption(formData.paymentOption)}}</div>
                                                </div>

                                                <br>

                                                <div style="padding: 0px;" ng-show="!onlinePaymentRequestSubmitted && !isPaymentSuccessful">

                                                    <div class="form-group">
                                                        <label for="paymentOption">{{translation.KEY_SCREEN_PAYMENT_OPTION_LABEL}}</label> <select id="paymentOption"
                                                                                                                                                   name="paymentOption" class="form-control" ng-model="formData.paymentOption" required autofocus>
                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_CREDIT}}">{{translation.KEY_SCREEN_ACCOUNT_CREDIT_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_DEBIT}}">{{translation.KEY_SCREEN_ACCOUNT_DEBIT_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_BANK_TRANSFER}}">{{translation.KEY_SCREEN_BANK_TRANSFER_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_CASH}}">{{translation.KEY_SCREEN_CASH_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_CASH_REFUND}}">{{translation.KEY_SCREEN_CASH_REFUND_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_CHEQUE}}">{{translation.KEY_SCREEN_CHEQUE_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_E_MONEY}}"
                                                                ng-if="!isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_E_MONEY)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_E_MONEY}})">E-Money -
                                                            {{translation.KEY_SCREEN_CURRENTLY_NOT_AVAILABLE_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_E_MONEY}}"
                                                                ng-if="isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_E_MONEY)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_E_MONEY}})">E-Money</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_ECOBANK}}"
                                                                ng-if="!isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_ECOBANK)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_ECOBANK}})">Ecobank -
                                                            {{translation.KEY_SCREEN_CURRENTLY_NOT_AVAILABLE_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_ECOBANK}}"
                                                                ng-if="isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_ECOBANK)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_ECOBANK}})">Ecobank</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_FREE_MONEY}}"
                                                                ng-if="!isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_FREE_MONEY)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_FREE_MONEY}})">Free Money
                                                            - {{translation.KEY_SCREEN_CURRENTLY_NOT_AVAILABLE_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_FREE_MONEY}}"
                                                                ng-if="isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_FREE_MONEY)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_FREE_MONEY}})">Free Money</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_ORANGE_MONEY}}"
                                                                ng-if="!isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_ORANGE_MONEY)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_ORANGE_MONEY}})">Orange
                                                            Money - {{translation.KEY_SCREEN_CURRENTLY_NOT_AVAILABLE_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_ORANGE_MONEY}}"
                                                                ng-if="isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_ORANGE_MONEY)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_ORANGE_MONEY}})">Orange
                                                            Money</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_WARI}}"
                                                                ng-if="!isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_WARI)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_WARI}})">Wari -
                                                            {{translation.KEY_SCREEN_CURRENTLY_NOT_AVAILABLE_LABEL}}</option>

                                                        <option value="{{paymentOptionConstants.PAYMENT_OPTION_WARI}}"
                                                                ng-if="isPaymentOptionEnabled(paymentOptionConstants.PAYMENT_OPTION_WARI)"
                                                                ng-disabled="!isPaymentOptionEnabled({{paymentOptionConstants.PAYMENT_OPTION_WARI}})">Wari</option>

                                                    </select>
                                                    </div>

                                                    <div class="form-group col-sm-6" style="padding-left: 0px;">
                                                        <label for="firstName">{{translation.KEY_SCREEN_FIRST_NAME_LABEL}}</label> <input type="text" class="form-control"
                                                                                                                                          id="firstName" name="firstName" ng-model="formData.firstName" ng-maxlength="32" maxlength="32" ng-trim="true" required
                                                                                                                                          avoid-special-chars avoid-numbers>
                                                    </div>

                                                    <div class="form-group col-sm-6" style="padding-right: 0px;">
                                                        <label for="lastName">{{translation.KEY_SCREEN_LAST_NAME_LABEL}}</label> <input type="text" class="form-control"
                                                                                                                                        id="lastName" name="lastName" ng-model="formData.lastName" ng-maxlength="32" maxlength="32" ng-trim="true" required
                                                                                                                                        avoid-special-chars avoid-numbers>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="mobileNumber">{{translation.KEY_SCREEN_MOBILE_NUMBER_LABEL}}</label>
                                                        <div style="width: 100%;">
                                                            <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" ng-model="formData.mobileNumber"
                                                                   ng-intl-tel-input required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="amountTopup" ng-if="(formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_CASH_REFUND + '') && (formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_DEBIT + '')">{{translation.KEY_SCREEN_TOPUP_AMOUNT_LABEL}}</label>
                                                        <label for="amountTopup" ng-if="formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CASH_REFUND + ''">{{translation.KEY_SCREEN_CASH_REFUND_AMOUNT_LABEL}}</label>
                                                        <label for="amountTopup" ng-if="formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_DEBIT + ''">{{translation.KEY_SCREEN_ACCOUNT_DEBIT_AMOUNT_LABEL}}</label>
                                                        <input type="text" class="form-control" name="amountTopup" id="amountTopup" ng-model="formData.amountTopup" input-currency ng-maxlength="15" maxlength="15" required>
                                                    </div>

                                                    <div class="form-group"
                                                         ng-show="isPaymentOptionSelected && formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CASH + ''">
                                                        <label for="amountCashGiven">{{translation.KEY_SCREEN_FEE_AMOUNT_CASH_LABEL}}</label>
                                                        <input type="text" class="form-control" name="amountCashGiven" id="amountCashGiven" ng-model="formData.amountCashGiven" input-currency ng-maxlength="15" maxlength="15" required>
                                                    </div>

                                                    <div class="form-group"
                                                         ng-if="isPaymentOptionSelected && (formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_CREDIT + ''
                                                                || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CASH_REFUND + ''
                                                                || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_BANK_TRANSFER + ''
                                                                || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CHEQUE + ''
                                                                || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_DEBIT + '')">
                                                        <label for="notes">{{translation.KEY_SCREEN_NOTES_LABEL}}</label> <textarea class="form-control" id="notes"
                                                                                                                                    name="notes" ng-model="formData.notes" rows="3" ng-max="256" max="256" required></textarea>
                                                    </div>

                                                    <div class="form-group font-size-18"
                                                         ng-show="isPaymentOptionSelected && formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CASH + ''">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                                <label>{{translation.KEY_SCREEN_AMOUNT_CHANGE_DUE_LABEL}}: {{formData.amountChangeDue | customCurrency : 0}}
                                                                    {{getSymbolByCurrencyCode(selectedRow.currency)}}</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row" ng-show="selectedRow.paymentTermsType == 1">
                                                        <div class="col-md-12 font-size-12">
                                                            <label>{{translation.KEY_SCREEN_ELETRONIC_RECEIPT_LABEL}}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="animate-if" ng-if="makePaymentErrorResponse !== ''">
                                                            <div class="alert alert-danger" role="alert">
                                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span class="sr-only">Error: </span>
                                                                {{makePaymentErrorResponse}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <button ng-show="formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CASH + ''
                                                                        || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_CREDIT + ''
                                                                        || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CASH_REFUND + ''
                                                                        || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_BANK_TRANSFER + ''
                                                                        || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CHEQUE + ''
                                                                        || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_DEBIT + ''"
                                                                ng-click="topupAccountBalance(selectedRow)" ng-disabled="topupButtonDisabled" class="btn btn-primary btn-block">
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                            <span ng-show="formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CASH + ''">{{translation.KEY_SCREEN_AMOUNT_PAID_LABEL}}</span>
                                                            <span ng-show="formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_CREDIT + ''">{{translation.KEY_SCREEN_ACCOUNT_CREDIT_LABEL}}</span>
                                                            <span ng-show="formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CASH_REFUND + ''">{{translation.KEY_SCREEN_CASH_REFUND_LABEL}}</span>
                                                            <span ng-show="formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_BANK_TRANSFER + ''">{{translation.KEY_SCREEN_BANK_TRANSFER_LABEL}}</span>
                                                            <span ng-show="formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_CHEQUE + ''">{{translation.KEY_SCREEN_CHEQUE_LABEL}}</span>
                                                            <span ng-show="formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_DEBIT + ''">{{translation.KEY_SCREEN_ACCOUNT_DEBIT_LABEL}}</span>
                                                        </button>

                                                        <button ng-show="formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_CASH + ''
                                                                        && formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_CREDIT + ''
                                                                        && formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_CASH_REFUND + ''
                                                                        && formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_BANK_TRANSFER + ''
                                                                        && formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_CHEQUE + ''
                                                                        && formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_ACCOUNT_DEBIT + ''"
                                                                class="btn btn-primary btn-block" ng-click="topupAccountBalance(selectedRow)"
                                                                ng-disabled="paymentConfirmationButtonDisabled">
                                                            <span class="glyphicon glyphicon-ok"></span> {{translation.KEY_SCREEN_MAKE_PAYMENT_LABEL}}
                                                        </button>
                                                    </div>

                                                </div>

                                                <div style="padding: 0px;" ng-show="onlinePaymentRequestSubmitted && !isPaymentSuccessful && makePaymentErrorResponse === ''">

                                                    <div class="form-group">
                                                        <div class="alert alert-warning" role="alert">
                                                                <span>
                                                                    <div>
                                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                                        {{translation.KEY_SCREEN_PAYMENT_CONFIRMATION_WAIT}}...
                                                                    </div>
                                                                </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <img src="app/img/loadingSpinner.gif" style="max-width: 120px; padding-bottom: 20px;">
                                                    </div>

                                                </div>

                                                <div style="padding: 0px;" ng-show="onlinePaymentRequestSubmitted && !isPaymentSuccessful && makePaymentErrorResponse !== ''">

                                                    <div class="form-group">
                                                        <div
                                                                ng-class="{'alert alert-danger': !isOnlinePaymentStatusCheckLimitReached, 'alert alert-warning': isOnlinePaymentStatusCheckLimitReached}"
                                                                role="alert">
                                                                <span>
                                                                    <div>
                                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{makePaymentErrorResponse}}
                                                                    </div>
                                                                </span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div style="padding: 0px;"
                                                     ng-show="isPaymentSuccessful
                                                    && (formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_ORANGE_MONEY + ''
                                                    || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_FREE_MONEY + ''
                                                    || formData.paymentOption === paymentOptionConstants.PAYMENT_OPTION_E_MONEY + '')">

                                                    <div class="form-group">
                                                        <div class="alert alert-success" role="alert">
                                                                <span>
                                                                    <div>
                                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                                        {{translation.KEY_SCREEN_PAYMENT_SUCCESS_LABEL}}! <br> <br> <br>
                                                                        {{translation.KEY_SCREEN_REFERENCE_NUMBER_LABEL}}: <b>{{paymentReference}}</b> <br>
                                                                        {{translation.KEY_SCREEN_ACCOUNT_BALANCE_CREDITED_LABEL}} {{formData.amountTopup | customCurrency : 0}}
                                                                        {{getSymbolByCurrencyCode(selectedRow.currency)}}
                                                                    </div>
                                                                </span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div style="padding: 0px;"
                                                     ng-show="isPaymentSuccessful
                                                    && (formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_ORANGE_MONEY + ''
                                                    && formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_FREE_MONEY + ''
                                                    && formData.paymentOption !== paymentOptionConstants.PAYMENT_OPTION_E_MONEY + '')">

                                                    <div class="form-group">
                                                        <div class="alert alert-warning" role="alert">
                                                                <span>
                                                                    <div>
                                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                                        {{translation.KEY_SCREEN_PAYMENT_INITIATED_LABEL}}! <br> <br> <br>
                                                                        {{translation.KEY_SCREEN_REFERENCE_NUMBER_LABEL}}: <b>{{paymentReference}}</b>
                                                                    </div>
                                                                </span>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-alight-center">
                        <button type="button" class="btn btn-danger outline-none width-modal-btn" ng-click="closeAccountTopupDialog()">
                            <b><span class="glyphicon glyphicon-remove"></span> {{translation.KEY_SCREEN_CLOSE_MESSAGE}}</b>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
