<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="" ng-click="go('/')">{{translation.KEY_NAVBAR_HOME}}</a></li>
        <li class="breadcrumb-item active" ng-if="portEntryStatus">Port {{translation.KEY_SCREEN_ENTRY_LABEL}}</li>
        <li class="breadcrumb-item active" ng-if="!portEntryStatus">{{translation.KEY_SCREEN_READONLY_LABEL}}</li>
        <li class="breadcrumb-item active special-breadcrumb-item" ng-if="selectedZone !== '' && isPortEntryFiltering == 'true'">{{translation.KEY_SCREEN_ZONE_LABEL + ': ' + selectedZone}}</li>
    </ol>
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12" ng-if="portEntryStatus">
            <h3>Port {{translation.KEY_SCREEN_ENTRY_LABEL}}</h3>
        </div>
        <div class="col-md-12" ng-if="!portEntryStatus">
            <h3>{{translation.KEY_SCREEN_READONLY_LABEL}}</h3>
        </div>
    </div>
    <!-- Content -->
    <div class="col-md-10 col-md-offset-1" style="padding: 0px;">
        <form name="vehicleRegSearchForm" autocomplete="off" novalidate>
            <div ng-hide="isDeny" style="padding: 0px;">

                <div ng-class="divRegNumExitClass" class="form-group col-xs-12 col-sm-12 col-md-12">
                    <label class="font-size-18" for="vehicleRegNumber">{{translation.KEY_SCREEN_VEHICLE_REGISTRATION_NUMBER_LABEL}}</label>
                    <input type="text" class="form-control input-lg" id="vehicleRegNumber" name="vehicleRegNumber" ng-model="formData.vehicleRegNumber" ng-maxlength="16"
                        maxlength="16" ng-disabled="proceedEntry || isProcessFinished"
                        ng-change="divRegNumExitClass = ''; spanRegNumExitClass = ''; searchVehicleRegErrorResponse = ''" required autofocus capitalize>

                    <span style="right: 15px; top: 30px;" ng-class="spanRegNumExitClass"></span>
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.portOperator">
                    <label class="font-size-18">{{translation.KEY_SCREEN_OPERATOR_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-value="getOperatorName(parking.portOperator)  + ' ' + parking.independentPortOperatorName" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.gateNumber">
                    <label class="font-size-18">{{translation.KEY_SCREEN_PORT_OPERATOR_GATE_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-value="parking.gateNumber" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.transactionType">
                    <label class="font-size-18">{{translation.KEY_SCREEN_TRANSACTION_TYPE_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-value="getTransactionTypeName(parking.portOperator, parking.transactionType + '')" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.referenceNumber">
                    <label class="font-size-18">{{translation.KEY_SCREEN_BAD_NUMBER_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-model="parking.referenceNumber" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.dateSlotString">
                    <label class="font-size-18">{{translation.KEY_SCREEN_SLOT_DATE_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-model="parking.dateSlotString" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.accountNumber && parking.accountNumber > 0">
                    <label class="font-size-18">{{translation.KEY_SCREEN_ACCOUNT_NUMBER_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-model="parking.accountNumber" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.companyName && parking.companyName != ''">
                    <label class="font-size-18">{{translation.KEY_SCREEN_TRANSPORTER_COMPANY_NAME_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-model="parking.companyName" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6"
                    ng-show="parking && (!parking.companyName || parking.companyName == '') && parking.accountName && parking.accountName != ''">
                    <label class="font-size-18">{{translation.KEY_SCREEN_ACCOUNT_NAME_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-model="parking.accountName" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.driverName">
                    <label class="font-size-18">{{translation.KEY_SCREEN_DRIVER_NAME_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-model="parking.driverName" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.driverMobile">
                    <label class="font-size-18">{{translation.KEY_SCREEN_DRIVER_MOBILE_NUMBER_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-model="parking.driverMobile" disabled="disabled">
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-show="parking && parking.driverLicenceNumber">
                    <label class="font-size-18">{{translation.KEY_SCREEN_DRIVER_LICENCE_NUMBER_LABEL}}</label>
                    <input type="text" class="form-control input-lg" ng-model="parking.driverLicenceNumber" disabled="disabled">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 font-size-18" style="padding: 0px;" ng-show="parking && parking.isAdHoc">
                <div style="padding: 0px;">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12" style="text-align: right;">
                        <span class="label label-warning">AD HOC</span>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12" ng-show="isDeny">
                <label class="font-size-18" for="reasonDeny">{{translation.KEY_SCREEN_DENIAL_REASON_LABEL}}</label>
                <select class="form-control input-lg" id="reasonDeny" name="reasonDeny" ng-model="formData.reasonDeny" ng-disabled="isSendReasonDeny">
                    <option value="{{translation.KEY_SCREEN_DENIAL_REASON_TOO_EARLY_LABEL}}">{{translation.KEY_SCREEN_DENIAL_REASON_TOO_EARLY_LABEL}}</option>
                    <option value="{{translation.KEY_SCREEN_DENIAL_REASON_TOO_LATE_LABEL}}">{{translation.KEY_SCREEN_DENIAL_REASON_TOO_LATE_LABEL}}</option>
                    <option value="{{translation.KEY_SCREEN_DENIAL_REASON_WRONG_ENTRANCE_LABEL}}">{{translation.KEY_SCREEN_DENIAL_REASON_WRONG_ENTRANCE_LABEL}}</option>
                    <option value="{{translation.KEY_SCREEN_DENIAL_REASON_DOCUMENTATION_PROBLEM_LABEL}}">{{translation.KEY_SCREEN_DENIAL_REASON_DOCUMENTATION_PROBLEM_LABEL}}</option>
                    <option value="{{translation.KEY_SCREEN_DENIAL_REASON_OTHER_LABEL}}">{{translation.KEY_SCREEN_DENIAL_REASON_OTHER_LABEL}}</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12">
                <div class="animate-if" ng-if="searchVehicleRegErrorResponse !== ''">
                    <div class="alert alert-danger font-size-18" role="alert">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span class="sr-only">Error: </span> {{searchVehicleRegErrorResponse}}
                    </div>
                </div>

                <div class="animate-if" ng-if="searchVehicleRegSuccessResponse !== ''">
                    <div class="alert alert-success font-size-18" role="alert">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <span class="sr-only">Message: </span> {{searchVehicleRegSuccessResponse}}
                    </div>
                </div>
            </div>
            <div ng-hide="isProcessFinished">
                <div class="form-group col-xs-12 col-sm-12 col-md-12" ng-hide="proceedEntry">
                    <button ng-click="searchExitedVehicleReg()" class="btn btn-success btn-lg btn-block">
                        <span class="glyphicon glyphicon-search"></span> {{translation.KEY_SCREEN_SEARCH_LABEL}}
                    </button>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 35px;" ng-show="proceedEntry && !isDeny && portEntryStatus">
                    <button ng-click="vehiclePortEntry()" class="btn btn-info btn-lg btn-block" ng-disabled="isUpdating">
                        <span class="glyphicon glyphicon-log-in"></span> {{translation.KEY_SCREEN_PROCEED_LABEL}}
                    </button>
                </div>

                <div  class="form-group col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 35px;" ng-show="proceedEntry && !isDeny && portEntryStatus">
                    <button ng-click="isDeny = true;" class="btn btn-danger btn-lg btn-block" ng-disabled="isUpdating">
                        <span class="glyphicon glyphicon-ban-circle"></span> {{translation.KEY_SCREEN_DENY_LABEL}}
                    </button>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 35px;" ng-show="isDeny">
                    <button ng-click="vehiclePortDeny()" class="btn btn-info btn-lg btn-block">
                        <span class="glyphicon glyphicon-ok"></span> {{translation.KEY_BUTTON_SAVE}}
                    </button>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12" ng-show="proceedEntry">
                    <button ng-click="back()" class="btn btn-danger btn-lg btn-block">
                        <span class="glyphicon glyphicon-arrow-left"></span> {{translation.KEY_BUTTON_BACK}}
                    </button>
                </div>
            </div>
            <div ng-show="isProcessFinished">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                    <button ng-click="resetRegSearch()" class="btn btn-info btn-lg btn-block">
                        <span class="glyphicon glyphicon-search"></span> {{translation.KEY_SCREEN_NEW_SEARCH_LABEL}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
